@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: none;
}

/* Webkit Scroll Bar */

/* end */

/* Similar Styled Content */

section{
    padding:100px 0;
}
.about, .projects, .skills, .contact, footer {
    font-family: 'Poppins', sans-serif
}
.about .about-text, .projects .projects-text, .skills .skills-text .contact .contact-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 65px;
    padding-bottom: 25px;
    font-family: 'Ubantu', sans-serif;
}

/* Home Styling */
.home{
    display: flex;
    background:url(https://images.unsplash.com/photo-1655586602846-6f8f36c875ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80) no-repeat center;
    height: 100vh; 
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(217, 216, 216);
    background-attachment: fixed;
    background-size: cover;
}
.home .max-width{
    display:flex;
    width:100%;
}
.home .max-width .row{
    margin-right: 0;
}
.home .home-content .content-1{
    font-size: 30px;
}
.home .home-content .content-2{
    margin-left: -3px;
    font-size: 70px;
    font-weight: 600;
}
.home .home-content .content-3{
    margin: 5px 0;
    font-size: 40px;
}
.home .home-content .content-3 span{
    font-weight: 500;
     color: crimson;
}
.home .home-content a{
    background:crimson;
    color: #fff;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 400;
    display: inline-block;
    padding: 15px 35px;
    border: 3px solid crimson;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    background: none;
    color: crimson;
}

/* Nav Styling */

.nav{
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 100%;
    padding: 25px, 0;
    position: fixed;
    z-index: 999;
}
.nav .max-width{
    align-items: center;
    justify-content: space-between;
    display:flex;
}
.nav.sticky{
    padding: 15px 0;
    background: rgb(203, 64, 57);
}

.nav .nav-menu li{
    list-style: none;
    display: inline-block;
}
.nav .name-logo a {
    color:rgb(248, 87, 87);
    font-size: 35px;
    font-weight: 600;
}
.nav .name-logo a span {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
.nav.sticky .logo a span{
    color: #ffff;
}
.nav.sticky .menu li a:hover{
    color: aliceblue;
}
.nav .nav-menu li a{
font-size: 18px;
font: weight 450px;
display: block;
margin-left: 25px;
transition: all 03s ease;
}
.nav .nav-menu li a:hover{
    color:rgb(100, 150, 56);
}

/* Menu Buttons Styling */

.menu-btn{
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: crosshair;
    display: auto;
}
.scroll-btn{
    height:45px;
    width: 40px;
    position: fixed;
    background: rgb(220, 67, 67);
    right:30px;
    bottom: 15px;
    text-align: center;
    line-height: 40px;
    color: #ffff;
    z-index: 9999;
    font-size: 35px;
    cursor:pointer;
    border-radius: 6px;
    border-bottom-width: 2px;
    opacity: 2;
    pointer-events: visiblePainted;
    transition:all 0.3s ease;
}
.scroll-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-btn.hover{
    filter: brightness(80%)
}
